.about {
  width: 90%;
  max-width: var(--max-width);
  margin-bottom: var(--spacing);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-header {
  margin-bottom: var(--spacing-medium);
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--color-main);
}


.button {
  margin-top: var(--spacing-medium);
}
.about-text {
  margin-bottom: var(--spacing-small);
  text-align: center;
}

@media (min-width: 768px) {
  .about {
    align-items: start;
  }
  .about-text {
    text-align: start;
  }
}
