:root {
  /* Color Palette */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-thin-purple: #933dc9;
  --color-main-purple: #53118f;
  --color-magneta: #ff00ff;
  --color-main: #00ffff;
  --color-main: #84a3f2;
  --color-secondary: #4b629c;
  /* 84a3f2 */
  --color-background: #020c25;

  /* Typography */
  --font-family: "Inter", sans-serif;

  /* Font Sizes */
  --font-size-h1: 35px;
  --font-size-h2: 28px;
  --font-size-h3: 22px;
  --font-size-p: 16px;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-extra-large: 50px;
}
