@import url(./design-system.css);
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_28pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_28pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_28pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_28pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_28pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

p {
  font-size: var(--font-size-p);
}

html {
  overflow-x: hidden;
  background-color: var(--color-black);
}
.Portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blur-effect {
  position: fixed;
  width: 500px;
  height: 500px;
  background-color: var(--color-thin-purple);
  filter: blur(400px);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: -1;
  
}
