.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}
.footer-content {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.footer-socials {
  margin-bottom: var(--spacing-medium);
}
.footer-email {
  margin-bottom: var(--spacing-large);
}
.footer-email a {
  text-decoration: none;
  word-break: break-all;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-socials-item {
  margin-right: var(--spacing-medium);
}

@media (min-width: 768px) {
  .footer {
    width: 100%;
  }
  .footer-content {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-socials {
    margin-bottom: 0;
    margin-left: var(--spacing-medium);
  }
  .footer-email {
    margin-bottom: 0;
    margin-left: var(--spacing-extra-large);
  }
  
}
