.introsection {
  max-width: 2560px;
  margin-top: 80px;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-left {
  margin-top: 50px;
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.profile-picture {
  width: 60%;
  height: auto;
  border: 2px solid #84a3f2;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}
/* .profile-picture:hover {
    box-shadow: rgba(132, 163, 242, 0.2)    15px 1px 65px;
} */
.section-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.email-link {
  text-decoration: none;
  color: #00ffff;
}
.profile-description {
  margin: 16px;
  margin-top: 24px;
  margin-bottom: 0;
}
.profile-header {
  margin: 16px;
  text-align: center;
}
.profile-subheader {
  margin: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .introsection {
    flex-direction: row-reverse;
  }
  .section-right {
    align-items: start;
    width: 50%;
  }
  .profile-header,
  .profile-subheader,
  .profile-description {
    text-align: start;
  }
  .profile-pic {
    width: 90%;
  }
  .section-left {
    margin: 0;
  }
}
