.button {
  min-width: 120px;
  height: 40px;
  font-size: var(--font-size-p);
  font-family: var(--font-family);
  font-weight: var(--weight-medium);
  border-radius: var(--radius-full);
  color: var(--color-white);
  border: 2px solid transparent;
  cursor: pointer;
  text-align: center;
  transition: var(--transition);
  padding: var(--spacing-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: var(--letter-spacing);
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(var(--color-main), var(--color-main)),
    linear-gradient(
      90deg,
      var(--color-main),
      var(--color-white),
      var(--color-main)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% 100%;
  animation: borderGlow 4s linear infinite;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(var(--color-main), 0.3);
}

@keyframes borderGlow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
