.experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: var(--max-width);
  margin-bottom: var(--spacing);
}
.experience-link,
.project-link {
  width: 100%;
}
.experience {
  /* padding: var(--spacing-medium); */
  border-radius: var(--radius-small);
  background-color: var(--color-background-thin);
  border: 1px solid var(--color-main);
  backdrop-filter: blur(10px);
  margin-bottom: var(--spacing-medium);
  width: 100%;
}
.experience-inner {
  margin: var(--spacing-medium);
}
.container-description {
  margin-bottom: var(--spacing-small);
  font-size: var(--font-size-small);
}

.container-title {
  margin-bottom: var(--spacing-small);
}

.experience-list {
  margin: var(--spacing-small) 0;
  padding-left: var(--font-size-small);
}

.experience-list li {
  font-size: var(--font-size-small);
  margin-bottom: var(--spacing-small);
  line-height: 1.5;
  color: inherit;
}
.experience-list li::marker {
  color: var(--color-main);
}

.technology {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: var(--spacing-medium);
  flex-wrap: wrap;
}

.technology-item {
  width: fit-content;
  padding: var(--spacing-small) var(--spacing-medium);
  margin: var(--spacing-small);
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  border-radius: var(--radius-full);
  font-size: var(--font-size-small);
  cursor: pointer;
}

.experiences-header {
  margin-bottom: var(--spacing-medium);
}

@media (min-width: 768px) {
  .experiences {
    align-items: start;
  }
}
