.skills {
  width: 90%;
  max-width: var(--max-width);
  margin: 16px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.skills-image {
  width: 10%;
}

@media (min-width: 768px) {
  .skills {
    width: 90%;
  }
  .skills-image {
    width: 8%;
    max-width: 45px;
  }
}
