.skills-container {
  width: 90%;
  max-width: var(--max-width);
  margin: var(--spacing-medium);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: var(--spacing-extra-large);
  overflow: hidden;
  position: relative;
}

.skills {
  display: flex;
  align-items: center;
  animation: marquee 40s linear infinite;
}

.skills-image {
  margin-right: 4rem;
  width: 45px;
  flex-shrink: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * (45px + 4rem) * 5));
  }
}

.skills:hover {
  animation-play-state: paused;
}

@media (min-width: 768px) {
  .skills-container {
    width: 90%;
  }

  .skills-image {
    width: 45px;
  }
}
